<template>
  <div class="about center-align">
    <h4 class="col text-center">Description</h4> 
    <p >Author: <strong> Abdiel Cruz Robaina</strong></p>
    <p >Date: <strong>07/02/2019</strong></p>
  </div>
</template>
