<template>
  <div class="row">
      <h4 class="col text-center">Image List</h4>
      <div class="row">
        <template v-for="image in images">
            <span :key="image.id" v-on:click="openDetail(image.id)" >
              <ImageDetail  :imageSrc="image.thumbnailUrl" :title="image.title"/>
            </span>
        </template>
      </div>
      <ImageModal ref='mymodal'/>
  </div>
</template>

<script>
import ImageDetail from '@/components/ImageDetail.vue'
import ImageModal from "@/components/ImageModal.vue";
export default {
  name: 'ImageList',
  components: {
    ImageDetail,
    ImageModal
  },
  computed:{
    images(){
      return this.$store.getters.getImages;
    }
  },
  methods:{
    openDetail:function(imageId){
      this.$store.dispatch('selectImage',imageId);
    }
  }
}
</script>
