<template>
  <li class="media col" >
    <img :src="imageSrc" :alt="title" class="img-thumbnail">    
  </li>
</template>

<script>
export default {
  name: 'ImageDetail',
  props: {
    imageSrc: String,
    title: String,
  }
}
</script>