<template>
  <div ref="modalImages" class="modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document" v-if="imageData">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{imageData.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img :src="imageData.url" class="img-fluid rounded" :alt="imageData.title" />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageModal',
  watch:{
    '$store.state.selectedImage':function(){
      let self = this;
      /* global $ */
      $(this.$refs.modalImages).modal({show:true})
      $(this.$refs.modalImages).on('hidde.bs.modal', function () {
          self.closeModal();
          return true;
      })
    }
  },
  computed:{
    imageData:function(){
      return this.$store.getters.getImageDetail;
    },
    isSelected:function(){
      return this.$store.getters.getImageDetail!='';
    }
  },
  methods:{
    closeModal:function(){
      this.$store.dispatch('selectImage','');
    }
  }

}
</script>